<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cavern Records</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>

    </header>

    <main class="main">
        <!-- <h3 class="titulares">Basado en tu última visita</h3> -->
        <section class="set-product-card">
            <article class="product-card">
                <img src="/images/discos-ej/clash_london.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>THE</p>
                            <p>CLASH</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>LONDON CALLING</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Pink_Floyd_Pulse.png" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>PINK</p>
                            <p>FLOYD</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>PULSE</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Deep_purple_burn.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>DEEP</p>
                            <p>PURPLE</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>BURN</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/ACDC.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>AC/DC</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>LET THERE BE ROCK</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Rolling_Babylon.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>ROLLING</p>
                            <p>STONES</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>BRIDGE TO BABYLON</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/redhotchilipeppers_freakystyley.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>RED HOT</p>
                            <p>C PEPPERS</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>FREAKY STYLEY</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Ramones.jpg" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>RAMONES</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>THE RAMONES</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Pink_Floyd_Pulse.png" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>PINK</p>
                            <p>FLOYD</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>PULSE</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>
            <article class="product-card">
                <img src="/images/discos-ej/Pink_Floyd_Pulse.png" alt="Imagen de la cafetera" />
                <br />
                <div class="product-card-description">
                    <div>
                        <div class="product-card-description-name">
                            <p>PINK</p>
                            <p>FLOYD</p>
                        </div>
                        <div class="product-card-description-disk">
                            <p>PULSE</p>
                        </div>
                    </div>
                    <div>
                        <p class="product-card-description-price">$6.770</p>
                        <p class="product-card-description-off">40% off</p>
                        <p class="product-card-description-delivery">ENVIO GRATIS</p>
                    </div>
                </div>
            </article>


        </section>

    </main>

    <footer>

    </footer>
</body>

</html>